#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 2rem;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }
#flex-item {
    max-width: 680px;
    max-height: 800px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 2rem;
    background-color: white;
    /*display: flex; 
    flex-direction: column; 
    align-items: center;
    */
}

img{
    max-width: 100%;
    margin:1rem auto;
    border-radius: 1rem;
    display:block;
}

body{
  background-color:hsl(212, 45%, 89%) 
}
#heading{
    font-size: 20px;
}
#highlight{
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    margin: 1rem;
}

#description{
margin:1rem;
text-align: center;
}

